1. Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
random_values = np.random.randint(0, 100, size=(4, 4))
df = pd.DataFrame(random_values, columns=list('ABCD'))

In [ ]:
print(df)

    A   B   C   D
0  15  45  48  78
1  37  10   7   6
2  57  64  95  50
3  33  64  29  61


2. Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0              15              45              48              78
1              37              10               7               6
2              57              64              95              50
3              33              64              29              61

3. Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        35.500000       45.750000       44.750000       48.750000
std         17.233688       25.460754       37.455529       30.739497
min         15.000000       10.000000        7.000000        6.000000
25%         28.500000       36.250000       23.500000       39.000000
50%         35.000000       54.500000       38.500000       55.500000
75%         42.000000       64.000000       59.750000       65.250000
max         57.000000       64.000000       95.000000       78.000000

4. Check for the null values in 'df' and find the data type of the columns

In [ ]:
print(df.isnull().values.any())
print(df.dtypes)

False
Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

In [ ]:
location = df.columns.get_loc('Random value 2')
index_location = df.columns.get_indexer(['Random value 2', 'Random value 3'])

print(df.iloc[:, location])
print(df.iloc[:, index_location])

0    45
1    10
2    64
3    64
Name: Random value 2, dtype: int64
   Random value 2  Random value 3
0              45              48
1              10               7
2              64              95
3              64              29